@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

@media screen and (min-width: 992px) {
    body {
        background-image: url('../img/background.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    main.container-fluid {
        margin-left: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    header p {
        display: none;
    }
}

header p {
    display: inherit;
}

body {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

a:link, a:visited {
	color:#0000AA;
	text-decoration: none;
}

a:hover, a:focus {
	color: #0000EE;
}

h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
	margin: 0;
}

h3 {
	font-size: 125%;
}

.container-fluid {
	background-image: url('../img/ricepaper_v3.png');
	opacity: 0.9;
    margin-top: 0;
    margin-bottom: 0;
}

.standard {
	padding: 1em;
}

header {
	background-color: #FA5A0F;
	border-bottom: 5px solid #EA4E00;
	color: #FFFFFF;
	color: #EEEEEE;
}

header p {
	font-size: 120%;
}

header p {
	font-size: 120%;
	color: #EEEEEE;
	margin: 0;
}

#menu {
	background-color: rgba(207, 205, 140, 0.5);
}

dt {
	font-weight: 400;
	color: #000000;
}

dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

footer {
	background-color: #FC892F;
	border-top-style: solid;
	border-top-color: #EC791F;
	border-top-width: 5px;
	font-size: 80%;
	text-align: right;
}